@model Controldeaplicaciones_TODOLIST.Models.Task
@{
    ViewBag.Title = "TodoList";
}


<div class="Container">
    <br /><h1 style="text-align:center">𝕃𝕀𝕊𝕋𝔸 𝔻𝔼 𝕋𝔸ℝ𝔼𝔸𝕊</h1><br /> 
</div>


<div class="shadow p-3 mb-5 bg-body rounded">
    <div class="row justify-content-between">
        <div class="col-4">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newtask">
                Agregar Tarea <i class="fa-solid fa-file-circle-plus"></i>
            </button>
        </div>
        <div class="col-3">
            <div class="hstack gap-3">
                <select class="form-select me-auto" aria-label="Default select example">
                    <option selected>Todos los datos</option>
                    <option value="Baja">Prioridad Baja</option>
                    <option value="Media">Prioridad Media</option>
                    <option value="Alta">Prioridad Alta</option>
                </select>
                <button type="button" class="btn btn-secondary">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" style="width:100%; height:300px; overflow: scroll;">
    <div class="table-responsive">
        <table class="table col-12" style="text-align:center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nota</th>
                    <th scope="col">Fecha/Hora Creacion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha/Hora Termino</th>
                    <th scope="col">Prioridad</th>
                    <th scope="col">Completado</th>
                    <th scope="col">Actualizar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody id="bodyTabla">
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Add-->
<div class="modal fade" id="newtask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre de la tarea</label>
                    <input type="text" class="form-control" id="nameadd" placeholder="Crear Base de Datos" required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nota</label>
                    <textarea class="form-control" placeholder="Deje un comentario aquí" id="noteadd" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Fecha/Hora de la tarea</label>
                    <p class="form-control" id="relojadd"> <p />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Tipo de prioridad</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>-- Seleccione una Opci&oacute;n--</option>
                        <option class="bg-info p-2 text-dark bg-opacity-25" value="Baja">Baja</option>
                        <option class="bg-warning p-2 text-dark bg-opacity-25" value="Media">Media</option>
                        <option class="bg-danger p-2 text-dark bg-opacity-25" value="Alta">Alta</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="Agregartask()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update-->
<div class="modal fade" id="updatetask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3" hidden>
                    <label for="exampleFormControlInput1" class="form-label">Id de la tarea</label>
                    <input type="text" class="form-control" id="idupdate" placeholder="Id">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre de la tarea</label>
                    <input type="text" class="form-control" id="nameupdate" placeholder="Crear Base de Datos">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nota</label>
                    <textarea class="form-control" placeholder="Deje un comentario aquí" id="noteupdate" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Tipo de prioridad</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>-- Seleccione una Opci&oacute;n--</option>
                        <option class="bg-info p-2 text-dark bg-opacity-25" value="Baja">Baja</option>
                        <option class="bg-warning p-2 text-dark bg-opacity-25" value="Media">Media</option>
                        <option class="bg-danger p-2 text-dark bg-opacity-25" value="Alta">Alta</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="Editartarea()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>


